<div class="row">
  <div class="banner mx-auto mt-3">
    <div class="card">
      <div class="card-header text-center p-0">
        <%= icon('fas', 'power-off', class: 'fa-3x text-warning p-2') %>
      </div>
      <div class="card-footer p-0">
        Sign up
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center mt-5">
  <div class="col-md-10">
    <div class="card shadow">
      <div class="card-body chat-body shadow p-5">
        <%= form_with model: @user, local: true do |f| %>
          <div class="form-group row">
            <%= f.label :username, "Username", class: 'col-2 col-form-label' %>
            <div class="col-md-10">
              <%= f.text_field :username, class: 'form-control shadow-sm rounded', placeholder: 'Enter your username ...' %>
            </div>
          </div>
          <div class="form-group row">
            <%= f.label :password, "Password", class: 'col-2 col-form-label' %>
            <div class="col-md-10">
              <%= f.password_field :password, class: 'form-control shadow-sm rounded', placeholder: 'Enter your password ...' %>
            </div>
          </div>
          <div class="form-group row justify-content-center mb-0">
            <%= f.submit "Sign up", class: 'btn btn-secondary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
